{% extends "layout.html" %} <!--extends plockar en annan template som vi vi ska använda den här informationen i-->
{% block title %}Index{% endblock %} <!--block byter ut någonting..-->
{% block content %} <!--Detta är den andra sidan av jinja, vi har jinja i python och sedan här-->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Index</h1>

            <!-- la till pandas tabellen inom en div tag för att styra utseended-->
            <div class="table-responsive">
                {{data | safe}} <!-- Detta är jinja2-->
            </div>
            <a class="btn btn-primary mt-5 mb-5" href="form" role="button">Enter data</a>
        </div>
    </div>
</div>
{% endblock %}