<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lektion 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Läs mer om</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  blablabla
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Anka</a></li>
                  <li><a class="dropdown-item" href="#">Tupp</a></li>
                  <li><a class="dropdown-item" href="#">Uggla</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container text-center">
        <div class="row align-items-start">
                <h1>I believe I can fly</h1>
          <div class="col">
            Anka
            <img src="../static/img1.jpg" class="img-fluid" alt="..." width="300" height="300">
          </div>
          <div class="col">
            Tupp
            <img src="../static/tupp.jpg" class="img-fluid" alt="..." width="300" height="300">
          </div>
          <div class="col">
            Uggla
            <img src="../static/uggla.jpg" class="img-fluid" alt="..." width="300" height="300">
          </div>
        </div>
      </div>

      <!--jinj2, en dörr till app.py filen..."safe" inikerar att datan är "säker" och inte behöver hanteras som farlig html innehåll-->
            {{titel}}
            {{data|safe}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>

<!-- låt script taggen vara i slutet så att efter all html lästs så körs scripten på det.-->
<!-- spara bilder i static och referera img="lektion_3/application/static"-->
<!-- https://pixabay.com/ Bra sida för bilder-->