<!doctype html> <!--första raden i en html fil talar om vilken typ dokumentet är-->
<html>
    <head>
        <meta charset="utf-8"> <!--Meta är saker som inte syns, förutom title.-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}title{% endblock %}</title> <!-- Block byts ut från den andra filen-->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            {% block header %}{% include "header.html" %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}content{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% include "footer.html" %}{% endblock %}
        </div>
        <script src="static/js/bootstrap.bundle.min.js"></script> <!-- html är strukturen, css är stilen, javascript är funktionerna-->
    </body>
</html>