<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Egna övningar</title>
    </head>
    <body>
        {% block header_1 %}
        <h2>Hejsan svejsan</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eius incidunt ut? Deleniti, eaque non. Rerum dignissimos aliquid quibusdam perferendis non deserunt repellendus quidem, explicabo, et doloribus nemo. Labore numquam illum nemo cum, recusandae quidem temporibus cumque, magni cupiditate eveniet ratione pariatur aliquam! Minus vero ipsa laboriosam ex similique voluptatem.</p>
        {% endblock %}
    </body>
</html>