<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Detta är namnet på tabben{% endblock %}</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="header">
        {% block header %}Header{% endblock %}
        </div>
        <div id="content">
        {% block content %}Content{% endblock %}
        </div>
        <div id="footer">
        {% block footer %}FOOTER{% endblock %}
        </div>
        <p>{{ data }}</p>
        <script src="static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>